[submodule "external/ADLX"]
	path = external/ADLX
	url = https://github.com/GPUOpen-LibrariesAndSDKs/ADLX.git
[submodule "external/AGS_SDK"]
	path = external/AGS_SDK
	url = https://github.com/GPUOpen-LibrariesAndSDKs/AGS_SDK.git
[submodule "external/nvapi"]
	path = external/nvapi
	url = https://github.com/NVIDIA/nvapi.git
[submodule "external/pcm"]
	path = external/pcm
	url = https://github.com/intel/pcm.git
