[submodule "external/ADLX"]
	path = external/ADLX
	url = git@github.com:GPUOpen-LibrariesAndSDKs/ADLX.git
[submodule "external/AGS_SDK"]
	path = external/AGS_SDK
	url = git@github.com:GPUOpen-LibrariesAndSDKs/AGS_SDK.git
[submodule "external/nvapi"]
	path = external/nvapi
	url = git@github.com:NVIDIA/nvapi.git
[submodule "external/pcm"]
	path = external/pcm
	url = git@github.com:intel/pcm.git
[submodule "external/drivers.gpu.control-library"]
	path = external/drivers.gpu.control-library
	url = https://github.com/intel/drivers.gpu.control-library.git
[submodule "external/level-zero"]
	path = external/level-zero
	url = https://github.com/oneapi-src/level-zero.git
